.dyslexic {
    font-family: "OpenDyslexic", sans-serif !important;
}

.zoom-1 {
    font-size: 16px !important;

    .v-input,
    .v-label {
        font-size: 16px !important;
    }
}

.zoom-2 {
    font-size: 20px !important;

    .v-input,
    .v-label {
        font-size: 20px !important;
    }
}

.zoom-3 {
    font-size: 24px !important;

    .v-input,
    .v-label {
        font-size: 24px !important;
    }
}

.zoom-4 {
    font-size: 28px !important;

    .v-input,
    .v-label {
        font-size: 28px !important;
    }
}

.zoom--1 {
    font-size: 15px !important;

    .v-input,
    .v-label {
        font-size: 15px !important;
    }
}

.zoom--2 {
    font-size: 14px !important;

    .v-input,
    .v-label {
        font-size: 14px !important;
    }
}

.zoom--3 {
    font-size: 13px !important;

    .v-input,
    .v-label {
        font-size: 13px !important;
    }
}

.zoom--4 {
    font-size: 12px !important;

    .v-input,
    .v-label {
        font-size: 12px !important;
    }
}